name: CI

on:
  push:
    branches: ["*"]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            git
            p7zip
            zip
            unzip
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-nim
            mingw-w64-x86_64-mpfr

      - name: Build and install package
        shell: msys2 {0}
        run: |
          set -euxo pipefail
          dos2unix PKGBUILD
          dos2unix arturo.install
          MINGW_ARCH=mingw64 makepkg-mingw -sif --noconfirm --noprogressbar --skippgpcheck

      - name: Run arturo -v
        shell: msys2 {0}
        run: |
          set -euxo pipefail
          ~/.arturo/bin/arturo.exe -v
